<!DOCTYPE html>
<html>
<head>


    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <!--<script type="text/javascript" src="scripts/jquery-3.1.0.js"></script>-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="scripts/index.js"></script>

</head>

<body ng-app="PIAPP">

<div ng-controller="PIAPPCtrl">


	<div class="input">
  		<label for="usr">Enter email:</label>
  		<input type="text" class="form-control" id="usr" ng-model="email">
	</div>

    <!-- {{test}} -->
    <!-- <input type="text" class="form-control" id="Stop" ng-model="test" > -->

    <button type="button" class="btn btn-primary btn-block" ng-click="submitEmail()">OK</button>

    {{response}}



</div>







</body>
</html>