<!DOCTYPE html>
<html style="width: 450px; height: 500px;">
<head>


    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <script type="text/javascript" src="scripts/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script type="text/javascript" src="scripts/index.js"></script>
    <link rel="stylesheet" href="css/PI.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
</head>

<body ng-app="PIAPP">

<div class="container" ng-controller="PIAPPCtrl">
<h1 class="elegantshadow">PRIVATE INVESTIGATOR</h1>

    <div class="input">
        <label for="usr">Enter email:</label>
        <input type="text" class="form-control" id="usr" ng-model="email">
    </div>

    <!-- {{test}} -->
    <!-- <input type="text" class="form-control" id="Stop" ng-model="test" > -->
    <br>
    <button type="button" class="btn btn-primary btn-block" ng-click="submitEmail()">OK</button>
    <br>
    <div class="panel panel-default" ng-repeat="profile in socialProfiles" ng-show="profile">
        
        
        <div style="color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 18px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;">
                {{profile.typeName}}
        </div>
        
        <div ng-show="photoSearch(profile.type)">
            <img class="picture" ng-src="{{photoSearch(profile.type)}}">
        </div>
        
        <div ng-show="profile.username">
            Username: {{profile.username}}
        </div>
        
        <div ng-show="profile.url">
            URL: {{profile.url}}
        </div>
        
        <br>
    
        
        
    </div>



</div>

</body>
</html>

</div>







</body>
</html>